*{
    margin:0px;
    padding:0px;
    font-family: 'Roboto Condensed', sans-serif;
}
html,body {
    overflow-x: hidden;
}

a{
    color:#fff;
    &:hover{
        color: #fff;
    }
    &:active{
        color: #fff;
    }
}
.font18_all *{
    font-size: 18px !important;
}
.font18{
    font-size: 18px !important;
}
.font20{
    font-size: 20px !important;
}
.font17{
    font-size: 17px !important;
}
.font14{
    font-size: 14px !important;
}
.font_small{
    font-size: 14px;
    font-style: italic;
    color: #000;
}
.font16{
    font-size: 16px !important;
}
.font16_all *{
    font-size: 16px !important;
}

ul{
    margin:0px;
    padding:0px;
    li{
        list-style: none;
    }
}
img{
    width: 100%;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.clear{
    clear: both;
}
.right{
    float: right;
}
.cursor{
    cursor: pointer;
}
.pdl0 {padding-left:0px;}
.pd0 {padding:0px;}
.pdr0 {padding-right:0px;}
.pd05{padding:05px;}
.pd10{padding:10px;}
.pd15{padding:15px;}
.mg0{margin: 0px;}
.readmore.closed{
    max-height:100px;
    overflow:hidden;
}
.hplink{
    color: royalblue;
    text-decoration: underline;
}
.textgray{
    color: #3e3a3acf !important;
    font-weight: 500;
    font-size: 15px;
}
.price-red{
    color: red !important;
}
// header area

.scaleimg {
    overflow: hidden;
    img{
        width: 100%;
        transition: all 0.4s;
    }
    &:hover img{
        transform: scale(1.1);
    }
}

// footer area
.slick-slide {
    outline: none !important;
    *{
        outline: none !important;
    }
    .btn_arrow{
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        box-shadow: 0 0 8px rgba(0,0,0,.25);
        font-weight: bold;
        background: red;
        cursor: pointer;
        position: absolute;
        border-radius: 50%;

        &.btn_prev{
            bottom: 45%;
            left: 25px;
            z-index: 99;
        }
        &.btn_next{
            bottom: 45%;
            right: 25px;
            z-index: 99;
        }
    }
}
#backtotop{
    position: fixed;
    bottom: 20%;
    right: 2%;
    width: 40px;
    height: 40px;
    z-index: 999;
    display: none;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
    background: red;
    transition: all 0.4s;
    animation: fadeup 0.4s;
    &::after{
        content: '\f106';
        font-family: 'FontAwesome';
        color: #fff;
        font-size: 22px;
        font-weight: bold;
    }
    &:hover{
        background: orangered;
    }
}
@keyframes fadeup{
    from{
        bottom: -100px;
    }
}
.readmore{
    color: #000 !important;
   .fa{
        color: red;
        width: 18px;
        height: 18px;
        text-align: center;
        border-radius: 50%;
        border:2px solid red;
        font-weight: bold;
        margin-right: 5px; 
   }
}
.cusselect{
    width: fit-content;
    position: relative;
    .option{
        position: absolute;
        left: 0px;
        top: 120%;
        width: 100%;
        background: #fff;
        color: #000;
        z-index: 100;
        display: none;
        box-shadow: 2px 2px 4px 2 rgba(0,0,0,0.1);
        li{
            list-style: none;
            border-bottom: 1px solid #dcdcdc;
            padding: 10px 5px;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.3s;
            &:hover{
                color: #fff;
                padding-left: 10px;
                background: $secondary;
            }
        }
    }
    span{
        font-size: 28px;
        &.selectbox{
            font-weight: bold;
            border-bottom: 2px dashed #fff;
            cursor: pointer;
            padding-right: 100px;
            padding-bottom: 5px;
            position: relative;
            &::after{
                content: '\f107';
                font-family: 'FontAwesome';
                position: absolute;
                right: 0px;
                width: 30px;
                height: 30px;
                color: blue;
                text-align: center;
                background: #fff;
                border-radius: 50%;
                line-height: 30px;
                font-size: 20px;
                transition: all 0.3s;
            }
            &:hover{
                &::after{
                    transform: rotate(180deg);
                }
            }
        }
    }
}
.full-w{
    width: 100%;
    padding-left: 100px;
}