
$primary : #282B3E;
$secondary : #00A758;
$wmenu:84px;

@import '_common.scss';


#page-break{
    width: 100%;
    height: $wmenu;
}
#main-menu{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    z-index: 1099;
    width: $wmenu;
    background: #34384B;
    ul{
        height: 100%;
        background: #34384b;
        li{
            text-align: center;
            display: block;
            transition: all 0.4s;
            border-bottom: 1px solid #1e212f5c;
            position: relative;
            background: #34384B;
            &:first-child{
                height: $wmenu;
                background: $secondary;
               a{
                    background: $secondary !important;
               }
            }
            &:hover{
                a{
                    background: $primary;
                }
            }
            a{
                font-size: 13px;
                padding:15px 10px;
                display: block;
                text-decoration: none;
                z-index: 100;
                background: #34384B;
                .fa{
                    margin: auto;
                    font-size: 26px;
                }
            }
            .sub-menu{
                top: 0px;
                left: -400px;
                padding:10px;
                width: 250px;
                background: #fff;
                overflow-x: hidden;
                overflow-y: auto;
                height: 100vh;
                position: fixed;
                transition: all 0.5s;
                z-index: -100;
                li{
                    text-align: left;
                    background: #fff;
                    &:first-child{
                        font-size: 24px;
                        text-align: center;
                        line-height: $wmenu;
                        font-weight: bold;
                        height: $wmenu;
                    }
                    a{
                        color: #000000;
                        font-size: 14px;
                        background: #fff;
                    }
                }
            }
            &.parent{
                &:hover{
                    .sub-menu{
                        left: $wmenu;
                    }
                }
            }
        }
    }
}
#main-nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.01);
    z-index: 1000;
    height: $wmenu;
    line-height: $wmenu;
    .app-name{
        margin: 0px;
        font-size: 24px;
    }
}
#footer{
    background: $primary;
    color: #fff;
    .title-footer{
        font-size: 12px;
        text-transform: uppercase;
    }
    ul{
        li{
            margin-bottom: 2px;
            display: block;
            a{
                color: #fff !important;
            }
        }
    }
    .link-icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        text-align: center;
        line-height: 40px;
        display: inline-flex;
        margin-right: 15px;
        transition: all 0.4s;
        &:hover{
            background: #fff;
            a{
                color: $primary !important;
            }
        }
        a{
            margin: auto;
            display: block;
        }
    }
    .line-break{
        margin: 10px 5px;
        border-bottom: 1px solid #1e212f;
    }
}
.post{
    border-bottom: 1px solid #dcdcdc;
    a{
        text-decoration: none;
        color: #000000;
    }
}
.sec-muctieu{
    background: blue;
    padding: 25px 0px;
    color: #fff;
    a{
        color: #fff;
    }
}
h3.product-title{
    margin: 0px;
    font-size: 24px;
}
.item-product{
    padding: 15px;
    border: 1px solid #dcdcdc;
    transition: all 0.4s;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 25px;
    &:hover{
        transform: scale(1.05);
        box-shadow: 0 12px 16px rgba(0,0,0,0.2);
    }
    .des{
        font-size: 22px;
    }
    img{
        width: 80px;
    }
    &.has-bg{
        height: 375px;
        *{
            color: #fff;
        }
        .des{
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            width: 100%;
            padding: 10px;
        }
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background: rgba(0,0,0,0.2);
        }
    }
}